* {
    box-sizing: border-box;
}

body {
    background-image: url(images/octodad.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #C0C0C0;
    height: 100vh;
    margin: 0;
}
