* {
    box-sizing: border-box;
}

body {
    background-image: url(images/cuttle.png.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #C0C0C0;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    color: #FFFFFF
}
